<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Kore service for LTI communication between nbgrader and learning management systems" />
        <style>
            body {
                font-family: sans-serif;
            }
        </style>
        <title>Kore Service</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
