{% extends "base.html.jinja" %}
{% block content %}
<h1>Kore - Error</h1> 

<p>{{ data.message }}</p>

<p><a href="/user/{{ data.username }}/logout">Logout</a> | <a href="/hub">My Server</a></p>

{% endblock %}
