{% extends "base.html.jinja" %}
{% block content %}
<h1>Kore</h1> 

<p>Successfully imported assignements to course {{ data.course_id }}.</p>

<p><a href="{{ data.prefix }}">back to home</a></p>

{% endblock %}
