{% extends "base.html.jinja" %}
{% block content %}
<h1>Kore</h1>
<p>username: {{ data.username }}</p>
<p>course title: {{ data.course_title }}</p>
<p>course id: {{ data.course_id }}</p>

<p>
<span style="font-weight: bold;">sending grades</span> for following students:
<ul>
{% for student in data.students %}
    <li>{{ student.first_name }} {{ student.last_name }} ({{ student.id }}), score {{ student.score }}/{{ student.max_score }}</li>
{% endfor %}
</ul>
</p>

<p>{{ data.message }}</p>

<p><a href="{{ data.prefix }}">back to home</a></p>

<hr>
<p>LTI state: {{ data.lti_state }}</p>
{% endblock %}
