[Unit]
Description=Run script at startup
Before=jupyterhub.service

[Service]
Type=oneshot
ExecStart=/opt/boot.sh
EnvironmentFile=/opt/container.env

[Install]
WantedBy=default.target
RequiredBy=jupyterhub.service
