[Unit]
Description=Run script at startup
After=mysql.service
Requires=mysql.service
Before=nginx.service

[Service]
Type=oneshot
ExecStart=/opt/boot.sh
EnvironmentFile=/opt/container.env

[Install]
RequiredBy=nginx.service
WantedBy=default.target
